---
title: Druck
layout: page
lang: de
pos: 6
excluded: 1
notitle: 1
---
<a href="#" class="hide-print" onclick="window.print();"><img src="img/printbutton.gif"></a>
<h1>Profil Klaus Erber</h1>

<h2>Weitere Dokumente</h2>
<img class="my-image" width="26%" src="img/ErberKlaus.jpg" />
<table style="width:70%">
    <tbody>
        <tr>
            <td style="width:70%">
              Diplom
              <div style="font-weight: normal" class="show-print">http://klauserber.github.io/assets/diplom.pdf</div>
            </td>
            <td class="hide-print">
              <a href="assets/diplom.pdf">[Kopie]</a>
            </td>
        </tr>
        <tr>
            <td>
              Zeugnis von der mwi Unternehmensgruppe
              <div style="font-weight: normal" class="show-print">http://klauserber.github.io/assets/zeugnis_mwi.pdf</div>
            </td>
            <td class="hide-print">
              <a href="assets/zeugnis_mwi.pdf">[Kopie]</a>
            </td>
        </tr>
        <tr>
            <td>
              Zeugnis von der HOLBORN Europa Raffinerie GmbH
              <div style="font-weight: normal" class="show-print">http://klauserber.github.io/assets/zeugnis_her.pdf</div>
            </td>
            <td class="hide-print">
              <a href="assets/zeugnis_her.pdf">[Kopie]</a>
            </td>
        </tr>
        <tr>
            <td>
              Zertifikat <em>TopLink certified Trainer</em>
              <div style="font-weight: normal" class="show-print">http://klauserber.github.io/assets/toplink.pdf</div>
            </td>
            <td class="hide-print">
              <a href="assets/toplink.pdf">[Kopie]</a>
            </td>
        </tr>
    </tbody>
</table>


{% assign sorted_pages = (site.pages | sort: 'pos') %}
{% for p in sorted_pages %}
  	{% if p.print_excluded != 1 and p.lang == 'de' %}
  		<h2>{{ p.title }}</h2>
  		<div>{{ p.content }}</div>
  	{% endif %}
{% endfor %}

<h2>Projekte</h2>
{% include projects.inc.html status=0 %}
