---
title: Print
layout: page_en
lang: en
pos: 6
excluded: 1
notitle: 1
---
<h1>Profile Klaus Erber</h1>
<img class="my-image" src="img/ErberKlaus.jpg" />
<p>Weitere Dokumente:</p>
<table style="width:50%">
    <tbody>
        <tr>
            <td style="width:70%">Diploma</td>
            <td><a href="assets/diplom.pdf">[Kopie]</a> 	</td>
        </tr>
        <tr>
            <td>Assessment mwi company group</td>
            <td><a href="assets/zeugnis_mwi.pdf">[Kopie]</a> 	</td>
        </tr>
        <tr>
            <td>Assessment HOBORN Europa Raffinerie GmbH</td>
            <td><a href="assets/zeugnis_her.pdf">[Kopie]</a> 	</td>
        </tr>
        <tr>
            <td><em>TopLink certified Trainer</em></td>
            <td><a href="assets/toplink.pdf">[Kopie]</a></td>
        </tr>
    </tbody>
</table>


{% assign sorted_pages = (site.pages | sort: 'pos') %}
{% for p in sorted_pages %}
  	{% if p.excluded != 1 and p.lang == 'en' %}
  		<h2>{{ p.title }}</h2>
  		<div>{{ p.content }}</div>
  	{% endif %}
{% endfor %}

<h2>Projects</h2>
{% for project in site.data.projects %}
{% if project.archived == 0 %}
<h2>
  {% if project.title_en %}
    {{ project.title_en }}
  {% else %}
    {{ project.title }}
  {% endif %}
</h2>
<table>
  <tr>
    <td>Issue</td>
    <td>
      {% if project.issue_en %}
        {{ project.issue_en | markdownify }}
      {% else %}
        {{ project.issue | markdownify }}
      {% endif %}
    </td>
  </tr>
  <tr>
    <td>Period</td>
    <td>
      {% if project.period_en %}
        {{ project.period_en }}
      {% else %}
        {{ project.period }}
      {% endif %}
    </td>
  </tr>
  <tr>
    <td>Sector</td>
    <td>
      {% if project.sector_en %}
        {{ project.sector_en }}
      {% else %}
        {{ project.sector }}
      {% endif %}
    </td>
  </tr>
  <tr>
    <td>Technologies</td>
    <td>
      {% if project.technic_en %}
        {{ project.technic_en }}
      {% else %}
        {{ project.technic }}
      {% endif %}
    </td>
  </tr>
</table>
{% endif %}
{% endfor %}
