{% for project in site.data.projects %}
{% if project.archived == include.status or include.status == "all" %}
<h2 class="numerated">{{ project.title }}</h2>
<table>
  <tr>
    <td>Aufgabenstellung</td>
    <td>{{ project.issue | markdownify }}</td>
  </tr>
  <tr>
    <td>Zeitraum</td>
    <td>
      {{ project.period }}
      {% if project.fulltime == 1 %}
      (Vollzeit)
      {% endif %}
    </td>
  </tr>
  <tr>
    <td>Branche</td>
    <td>{{ project.sector }}</td>
  </tr>
  <tr>
    <td>Technologien</td>
    <td>{{ project.technic }}</td>
  </tr>
  <tr>
    <td>Rollen</td>
    <td>{{ project.roles }}</td>
  </tr>
</table>
{% endif %}
{% endfor %}
