
.page-content {
  padding: 10px 0px;
}

.lang-switch {
  text-align: right;
}

a:hover {
  text-decoration: none;
}

.my-image {
  float: right;
  border: 2px solid #e0e0e0;
  padding: 3px;
}

a {
  font-weight: bold;
}
