
.site-title {
  font-size: 1.2em;
  color: #f0f0f0;
}
.site-title:visited {
  color: #f0f0f0;
}

nav {
  font-size: 0.9em;
}

@media screen and (min-width: 600px) {
  .site-nav .page-link {
    color: #f0f0f0;
  }  
}

.site-header {
  background-color: #4367AB;
  border-bottom: 2px solid #424242;
}

.page-content {
  padding: 10px 0px;
}

.lang-switch {
  text-align: right;
}

a:hover {
  text-decoration: none;
}

.my-image {
  float: right;
  border: 2px solid #e0e0e0;
  padding: 3px;
}

a {
}
