.site-header {
  position: fixed;
  top: 0px;
  width: 100%;
}

.page-content {
  margin-top: 60px;
}

.site-title {
  font-size: 1.2em;
  color: $grey-color-light;
}
.site-title:visited {
  color: $grey-color-light;
}

nav {
  font-size: 0.9em;
}

@media screen and (min-width: $on-palm) {
  .site-nav .page-link {
    color: $grey-color-light;
    display: inline-block;
    height: 56px;
    padding: 0px 8px 0px 8px;
  }
  .site-nav .active {
    background-color: $brand-color-light;
  }
  .site-nav .page-link:hover {
    background-color: $brand-color-light;
  }
}

.page-content {
  padding: 10px 0px;
}

.lang-switch {
  text-align: right;
}

a:hover {
  text-decoration: none;
}

.my-image {
  float: right;
  border: 2px solid $grey-color;
  padding: 3px;
}

/* Tables */
table {
  width: 100%;
  border: 1px solid $grey-color-light;
  margin-bottom: $spacing-unit;
}

th {
  text-align: left;
  padding: 4px 8px 4px 8px;
}

td {
  vertical-align: top;
  padding: 4px 8px 4px 8px;
}

td:first-child {
  width: 25%;
  font-weight: bold;
}

tr:nth-child(odd) {
  background-color: $grey-color-lighter;
}
tr:nth-child(even) {
  background-color: $grey-color-light;
}
